
.fira-sans-normal{
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
 /* shared style */
 .sky-blue{
    color: #0E0E0E;
 }
 .sky-blue-1{
    color: rgb(14, 14, 14, 50%);
 }

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
}
.nav-title-1{
    font-weight: 700;
    font-size: 32px;
    height: 38px;
    width: 222px;
}
.nav-title-2{
    color: #006A50;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    opacity: 100;
    width: 116px;
    height: 52px;
}
.nav-title-2:hover{
    background-color: aquamarine;
}
.btn-1{
    padding: 30px 15px;
    border-color: #006A50;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    /* margin: 0 219.99px 0 219.99px; */
    max-width: 1280px;
    max-height: 560px;
    background-color: #C6E4D6;
}

.banner-content{
    max-width: 622px;
    max-height: 326px;
    border: ;
}

.banner-heading{
    font-size: 24px;
    font-weight: 500px;
}
.banner-title{
    font-weight: 700px;
    font-size: 56px;
}

.btn-primary{
   background-color: #006A50;
   color: #FFFFFF;
   width: 270px;
   height: 56px;
   border-radius: 8px;
}

.banner-hero-pic{
    width: 474.03px;
    height: 400px;
}



